{% if S_HCAPTCHA_AVAILABLE %}
	<noscript>
		<div class="errorbox"><p>{{ lang('HCAPTCHA_NOSCRIPT') }}</p></div>
	</noscript>
	<dl>
		<dt>{{ lang('CAPTCHA_PREVIEW_EXPLAIN') }}</dt>
		<dd>
			<div id="h-captcha-preview" class="h-captcha" data-sitekey="{{ HCAPTCHA_KEY }}"{% if HCAPTCHA_THEME %} data-theme="{{ HCAPTCHA_THEME }}"{% endif %}{% if HCAPTCHA_SIZE %} data-size="{{ HCAPTCHA_SIZE }}"{% endif %}></div>
		</dd>
	</dl>
{% else %}
	<div class="errorbox notice"><p>{{ lang('HCAPTCHA_NOT_AVAILABLE') }}</p></div>
{% endif %}
