.hcaptcha {
	&-container {
		margin: 1em auto;
	}

	// scss-lint:disable SelectorFormat
	&-error,
	.section-app\/contactadmin &-container .h-captcha,
	#register &-container .h-captcha {
		text-align: center;
	}

	#login &-container .h-captcha {
		margin-left: 16em;
	}

	#postform &-container .h-captcha {
		margin-left: 15em;
	}

	// scss-lint:disable SelectorDepth, SelectorFormat
	.section-app\/contactadmin #postform &-container .h-captcha {
		margin: 0;
	}
}
