.hcaptcha {
	&-container {
		margin: 1em auto;
	}

	&-error,
	&-disclosure,
	&-container .h-captcha {
		text-align: center;
	}

	#login &-container .h-captcha,
	#postingbox &-container .h-captcha {
		text-align: left;
	}

	#login &-container .h-captcha {
		margin-left: 16em;
	}

	#postingbox &-container .h-captcha {
		margin-left: 15em;
	}

	#postingbox &-disclosure {
		text-align: left;
	}
}
