#acp-hcaptcha {
	input[type='text'],
	input[type='password'] {
		font-family: Consolas, monaco, monospace;
	}
}

#toggle-hcaptcha-secret {
	vertical-align: middle;
	cursor: pointer;

	&,
	& .icon {
		display: inline-block;
	}
}
