#acp-hcaptcha {
	// scss-lint:disable QualifyingElement
	input[type="text"],
	input[type="password"] {
		font-family: Consolas, monaco, monospace;
	}
}

#toggle-hcaptcha-secret {
	cursor: pointer;
	vertical-align: middle;

	&,
	& .icon {
		display: inline-block;
	}
}
